<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <div>
        @Html.ActionLink("Home", "Index", "Home")|
        @Html.ActionLink("News", "News", "Home")|
        @Html.ActionLink("About us", "About", "Home")|
        <br />
        <br />
    </div>

    <div>
        @Html.ActionLink("Login", "LogIn", "Home")  |  
        @Html.ActionLink("Registration", "Registration", "Home")
    </div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   

    @RenderSection("Mid")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
